
.firstheading {
    margin: 2em 30px 30px 0;
    float: left;
    color: #fff;
    font-size: 70px;
}

.subhead {
    float: right;
    color: #fff;
    font-size: 30px;
    margin-top: 2em;
    margin-left: -30em;
}

.cta {
    float: left;
    border: 2px solid #fff;
    background-color: #01345B;
    color: #fff;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    margin: 19em 20em 30px -30em;
}

.screengraphic {
    float: left;
    width: 39%;
    margin: -30em 20em 30px 69em;
    object-fit: cover;

}

.semicircleleft {
    float: left;
    position: absolute;
    margin: 29em 0em 0em -115em;
}

.scroll {
    margin: -30em 0em 0em 50%;

}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-container {
    position: relative;
    width: 100%;
    height: 17em;
    background: #181a1d;
    color: #fff;
    bottom: 0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: 100%;

}

.footerlogo{
    margin-right: 100%;
}

ul.footer-links li {
    margin-right: 100%;   
    display: inline; 
}


.address  {
    margin-left: 70%;
    text-align: right;
    font-size: 15px;

}

ul.footer-links {
    margin: 0 auto;
}


ul.footer-links li a {
    color: rgb(165, 165, 165);
    font-size: .8em;
}




@media only screen and (max-width: 850px) {
    .screengraphic {
        display: none;
    }


    .subhead {
        font-size: 1.4em;
        margin-bottom: 12%;
    }



    nav ul {
        width: 40%;
    }
    
    .semicircleleft {
        display: none;
    }

    .footercontainer {
        width: 10%;
    }

}
